[Unit]
Description=gunicorn daemon
After=network.target

[Service]
PIDFile=/tmp/gunicorn.pid
User=govhack
Group=govhack
WorkingDirectory=/srv/newsexplo.re
ExecStart=/usr/bin/bash -c "cd /srv/newsexplo.re; source bin/activate; gunicorn --timeout 60 --workers 4 --pid /tmp/gunicorn.pid backend:app --log-level debug --log-file -"
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
